{# eventos/templates/eventos/includes/eventos_menu.html #}
{% load static %}
{% if request.user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light navbar-transparent">
  <div class="container">
    {% if request.user.is_superuser %}
      <a class="navbar-brand" href="/admin/"><i>Administrar</i></a>
    {% else %}
      <a class="navbar-brand" href="{% url 'eventos:calendario' %}"><i>Calendario</i></a>
    {% endif %}
    <button
    data-mdb-collapse-init
    class="navbar-toggler"
    type="button"
    data-mdb-target="#navbarNav2"
    aria-controls="navbarNav2"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'eventos:evento_create' %}"><i>Añadir Evento</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'eventos:evento_list' %}"><i>Listar Eventos</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}