{# calendario.html #}
{% extends 'core/base.html' %}
{% block title %}Calendario de Eventos{% endblock %}
{% load static %}
{% block extra_css %}
<link href="{% static 'core/css/calendar.css' %}" rel="stylesheet">
{% endblock %}
{% block main_content_wrapper %}
  {% block content %}
    <!-- Contenedor principal del calendario -->
    <div id="calendar-container">
        <div id='calendar'></div>
    </div>         
  {% endblock %}
{% endblock %}
{% block extra_js %}
    <script src="{% static 'core/vendor/full_calendar/index.global.min.js' %}"></script>
    <script src="{% static 'core/vendor/full_calendar/locales-all.global.min.js' %}"></script>
    <script src="{% static 'core/js/calendar.js' %}"></script>
{% endblock %}

