{% load static %}
{% if request.user.is_staff %}
<nav class="navbar navbar-expand-lg navbar-light navbar-transparent">
  <div class="container">
    <a class="navbar-brand" href="/admin/"><i>Administrar</i></a>
    <button
    data-mdb-collapse-init
    class="navbar-toggler"
    type="button"
    data-mdb-target="#navbarNav2"
    aria-controls="navbarNav2"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <i class="fa fa-bars"></i>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarNav2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'empleados:create' %}"><i>Añadir profesional</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'empleados:empleados' %}"><i>Listar profesionales</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}