{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block main_content_wrapper %}
  {% block content %}
  <style>.errorlist{color:red;}</style>
  <main role="main">
    <section class="h-100 gradient-form";">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
                    <div class="text-center">
                      <img src="{% static 'core/img/lotus.webp' %}" style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Iniciar sesión</h4>
                    </div>

                    {% if 'register' in request.GET %}
                      <b><p style='color:green;'>Usuario registrado correctamente, ya puedes identificarte.</p></b>
                    {% endif %}

                    <form action="" method="post">{% csrf_token %}
                      {% if form.non_field_errors %}
                        <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                      {% endif %}

                      <div class="mb-3">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de Usuario">
                      </div>

                      <div class="mb-3">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña">
                      </div>

                      <div class="text-center pt-1 mb-5 pb-1">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary w-100 fa-lg gradient-custom-2 mb-3 custom-font" type="submit">Acceder</button>
                        <a class="text-muted" href="{% url 'password_reset_username' %}">¿Olvidaste tu contraseña?</a>
                      </div>

                      <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">¿No tiene una cuenta?</p>
                        <a href="{% url 'signup' %}" class="btn btn-outline-danger">Crear una cuenta</a>
                      </div>

                    </form>

                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">Bienvenidos a Calend-Art</h4></h4>
                    <p class="small mb-0">Mi nombre es María del Carmen Martín Rodríguez y soy la creadora de este proyecto. Si tienes algún problema con la aplicación no dudes en contactarme en mainen1985@gamil.com o en el teléfono 676201134.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% endblock %}
{% endblock %}
