{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña - Paso 1{% endblock %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <form action="" method="post">{% csrf_token %}
                    <h3 class="mb-4">Restablecer contraseña</h3>
                    {% if messages %}
                        <ul class="messages list-unstyled">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p>Introduce tu nombre de usuario para continuar.</p>
                    {{ form.as_p }}
                    <p><input type="submit" class="btn btn-primary w-100 fa-lg gradient-custom-2 mb-3 custom-font" value="Continuar"></p>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}